.md-button {
    width: 300px; /* Set the desired width */
    text-align: center; /* Center the button text */
}
  
  
  
  /* Align the video to the right */
.video-right {
    display: block;
    margin-left: auto;
    margin-right: 0;
}
  
  /* Align the video to the left */
.video-left {
    display: block;
    margin-left: 0;
    margin-right: auto;
}

  /* Large grid cards custom colours */
.md-typeset .grid.cards>ol>li,
.md-typeset .grid.cards>ul>li,
.md-typeset .grid>.card {
  border: 1px solid #8b8686; /* Darker border */
  transition: border .75s,box-shadow .75s
}
  
  
 /* Smaller grid cards custom colours */
 :root {
    --card-bg-light: white;
    --card-bg-dark:  white;
    --card-border-focus-light: black;
    --card-border-focus-dark: #53AFDA; 
    
  }
  
  [data-md-color-scheme="default"] {
    --card-bg: var(--card-bg-light);
  }
  
  [data-md-color-scheme="slate"] {
    --card-bg: var(--card-bg-dark);
  }

  
  /*Custom grid card colours*/
  .md-typeset .grid.cards>ol>li,
  .md-typeset .grid.cards>ul>li,
  .md-typeset .grid>.card {
      transition: border .75s,box-shadow .75s;
      background-color: var(--card-bg);

  }

  .md-typeset .grid.cards>ol>li:focus-within,
  .md-typeset .grid.cards>ol>li:hover,
  .md-typeset .grid.cards>ul>li:focus-within,
  .md-typeset .grid.cards>ul>li:hover,
  .md-typeset .grid>.card:focus-within,
  .md-typeset .grid>.card:hover {
      border-color: var(--card-border-focus);
  }
  
   /* Custom colours */
:root {
    --md-primary-fg-color: #53AFDA;
    --md-primary-fg-color--light: #53AFDA;
    --md-primary-fg-color--dark: #319fd2;
  
    --md-accent-fg-color: #FFA500;
    --md-accent-fg-color--light: #FFA500;
    --md-accent-fg-color--dark: #FFA500;
}
  
.md-nav {    font-size: 0.6rem;  /* Reduces nav font */
    line-height: 1.8; /* Creates space between nav items*/
}
  

/* This targets all ordered lists and turns the numbers red */
ol li::marker {
  color: #53AFDA;
  font-weight: bold;
}